.calc-input {
    /* display: flex; */
    height: 4em;
    /* justify-content: flex-end;
    align-items: center; */
    padding: 0.5em;
    font: 0.5em bold;
    color: #fff;
    background: #000;
    outline: 1px solid #888;

    width: 91.25%;
    margin: 5px;
}